<html ng-app="CarsWebAPI">
<head>
    <title>CarsWebAPI</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/CarStyle.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <div>
    <hr />

    <ui-view></ui-view>
    </div>

    <nav class="navbar navbar-light navbar-fixed-bottom" style="background-color:#fffa88;" />
    <div class="container-fluid" />
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><img src="http://funk.design/Layout/img/Logo.php?site=funk.design&art=site" alt="HTML5 Icon" style="width:30px;height:30px;"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" />
    <ul class="nav navbar-nav">
        <li @*class="active" *@><a href="/">Home @*<span class="sr-only">(current)</span>*@</a></li>
        <li><a href="/cars">Cars</a></li>
        @*<li><a href="/cardetails">Details</a></li>*@
        <li><a href="/about">About</a></li>
    </ul>
    <form class="navbar-form navbar-left" />

    <!-- Library Files -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>


    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
    <script src="/ngapp/services/services.js"></script>
</body>
</html>
