
<div class="mycarousel">
    <uib-carousel interval="2000" active="0">
        <uib-slide ng-repeat="slide in controller.slides" index="$index">
            <img ng-src="{{slide.image}}" style="margin:auto" height="256" width="440"/>
        </uib-slide>
    </uib-carousel>
</div>

<div class="container" id="welcome">

    <h3>If you <important>LOVE</important> cars you are going to <important>LOVE</important> our site!</h3>
    <h1>All About Cars!</h1>
    <h3><em>The Ultimate destination to find all your <important>FAVORITE</important> cars!</em></h3>
</div>
